

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root {
    --redish: #b8a3a1c9;
    --blueish: #006DB7;
    --yellowish: #FFD700;
    --greenish: #00AF4D;
    --black: #000000;
    --blackish: #2c2b2b;
    --white: #FFFFFF;

    --font: 'Rubik', sans-serif;
    --rootsize: 20px;
    --maxsize: 1200px;
}




header{
    background-color: var(--redish);
    //text-align: center;
    width: 100%;
    height: 100px;
    h1{
        padding-top: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 50px;
    

    }
}

        nav{
            text-align: center;
            padding-bottom: 20px;
            padding-top: 20px;
        }

            main{
                background-color: var(--black);
                color: var(--greenish);
                // text-align: left;
               
            
            article{
                background-color: var(--blackish);
                color: var(--white);
                padding: 10px;
                text-align: left;
                // display: block;
                margin: 10px;

                h3{
                    font-size: 30px;
                    font-weight: 600;
                }
                p{
                    font-weight: 400;
                    font-size: 20px;
                }
            
            
                .imageContainer {
                    display: flex;
                    

                    img{
                        order: 2;
                        max-height: 320px;
                        max-width: 250px;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        
                    }
                }

               

            button{
                color: var(--blackish);
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
               

                &:hover{
                    background-color: var(--blueish);
                }
            

           
            }
              
        }
        
     }

                

                      


                
                    

        
    


    
